---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="p-4 font-body">
			<section>
				<ul class="flex flex-wrap gap-4 justify-center">
					{
						posts.map((post) => (
							<li class="group rounded-xl shadow-md border border-neutral-200 hover:border-cyan-300 hover:shadow-lg hover:shadow-cyan-300/75 duration-200 active:border-neutral-400 active:scale-x-[1.025] active:duration-100">
								<a href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} class="rounded-t-xl duration-200 group-hover:contrast-125" alt={post.data.title} />
									<div class="p-4">
										<h4 class="title text-lg font-bold text-orange-400 group-hover:text-orange-500 duration-200 group-active:text-orange-600">{post.data.title}</h4>
										<p class="date">
											<FormattedDate date={post.data.pubDate} />
										</p>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
