---
import SanityImage from "./SanityImage.astro";
const { post, type } = Astro.props;
---

<a
  href={`/${type}/${post.slug.current}`}
  class="group relative mx-auto flex flex-row items-center justify-center rounded-xl ring-2 ring-emerald-300 duration-200 ease-in-out hover:scale-105 hover:shadow-lg hover:shadow-emerald-600/20 hover:ring-emerald-400 active:scale-110 active:shadow-emerald-600/40 active:duration-100"
>
  <SanityImage
    src={post.mainImage}
    alt={post.title}
    width={1000}
    height={250}
    className="absolute left-0 top-0 h-full w-full rounded-xl object-cover object-center"
  />
  <div
    class="z-10 m-2 flex h-full flex-1 flex-col items-center justify-center gap-2 rounded-xl bg-zinc-100/60 p-4 backdrop-blur-sm duration-200 ease-in-out group-hover:bg-zinc-100/90 dark:bg-zinc-900/60 dark:group-hover:bg-zinc-900/90"
  >
    <h2>{post.title}</h2>
    <div class="flex flex-col items-center justify-center gap-1">
      {
        post.category.title === "One Shot" ? (
          <p class="font-semibold">One Shot</p>
        ) : (
          <p class="font-semibold">{post.series.title}</p>
        )
      }
      <p class="text-sm">{new Date(post.publishedAt).toLocaleDateString()}</p>
    </div>
  </div>
</a>
