---
import SanityImage from "./SanityImage.astro"
const { series } = Astro.props
---
<a href={`/series/${series.slug.current}`} class="group relative rounded-xl ring-2 ring-emerald-300 flex flex-row justify-center items-center mx-auto duration-200 hover:ring-emerald-400 hover:scale-105 hover:shadow-lg hover:shadow-emerald-600/20 active:scale-110 active:shadow-emerald-600/40 active:duration-100">
  <SanityImage src={series.headerImage} alt={series.title} width={500} height={500} className="absolute top-0 left-0 w-full h-full object-cover object-center rounded-xl" />
  <div class="p-4 flex flex-col justify-start items-start h-full flex-1 gap-4 z-10 m-4 rounded-xl bg-zinc-100/60 dark:bg-zinc-900/60 backdrop-blur-sm group-hover:bg-zinc-100 dark:group-hover:bg-zinc-900 duration-200">
    <h2 class="text-2xl font-semibold">{series.title}</h2>
    <p class="line-clamp-4 ">{series.description}</p>
  </div>
</a>